.login-modal {
    background-color: #f7f8f9;
    color: #1d2226;

    height: 100%;
    width: 21.5rem;

    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.login-title {
    margin: 3rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem
}

.login-title>p {
    font-weight: 500;
    font-size: 1.6rem;
}

.login-fields-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.login-fields-container>div {
    width: calc(100% - 1rem);
}

.login-modal>.radio-button-question-container {
    margin-left: 1rem;
}

.login-modal>a {
    margin: 0 1.2rem 0 1.2rem;
}

@media screen and (orientation: portrait) {
    .login-modal {
        width: 100%;
    }
}