.landing-modal {
    background-color: #f7f8f9;
    color: #1d2226;

    height: 100%;
    width: 21.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    gap: 0.7rem;
}

.landing-modal>p {
    font-weight: 500;
    margin-left: 1rem;
    font-size: 1.6rem;
}

.description {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 1.05rem;
}

.description>p {
    color: #74777b;
    font-weight: 400;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    margin: 1rem 1rem 2.2rem 1rem;
}

@media screen and (orientation: portrait) {
    .landing-modal {
        width: 100%;
    }
}