.register-modal {
    background-color: #f7f8f9;
    color: #1d2226;

    height: 100%;
    width: 21.5rem;

    display: flex;
    flex-direction: column;

    gap: 1.8rem;
}

.title {
    margin: 2.9rem 0 0 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.15rem
}

.title > p {
    font-weight: 500;
    font-size: 1.6rem;
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

.fields-container > div {
    width: calc(100% - 1rem);
}

.register-modal > .radio-button-question-container {
    margin-left: 1rem;
}

.register-modal > a {
    margin: auto 1.2rem 2.3rem 1.2rem;
}

@media screen and (orientation: portrait) {
    .register-modal {
        width: 100%;
    }
}