.radio-button-question-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio-btn-question-label {
  display: flex;
  gap: 0.25rem;
  font-size: 0.7rem;
  align-items: center;
  color: black;
}

.required-field {
  color: red;
}

.radio-buttons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.radio-label-button-pair {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.95rem;
  cursor: pointer;
  position: relative;
}

.radio-label-button-pair input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #919191;
  border-radius: 50%;
  position: relative;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.radio-label-button-pair input::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  background-color: #6c25ff;
}

.radio-label-button-pair input:checked::before {
  transform: scale(1);
}

.radio-option-label {
  font-size: 0.8rem;
  user-select: none;
}
