@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Rubik", sans-serif;
  font-weight: normal;

  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}